<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('register') }}">Book A Flight</a></li>
            <li><a href="{{ url_for('index') }}">All flights</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>