{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">Registration</h1>
    <div class="flight registration">
    <form action="{{ url_for('book') }}" method="post">
        <div>
            <label>Your Name</label>
            <input name="name" placeholder="Enter Your Name" type="text">
        </div>
        <div>
            <label>Select The Flight</label>
            <select name="flight_id">
                {% for flight in flights %}
                    <option value="{{ flight.id }}">From {{ flight.origin }} to {{ flight.destination }}</option>
                {% endfor %}
            </select>
        </div>
        <button>Submit</button>
    </form>
</div>
{% endblock %}